body {
    background-color: rgba(2, 2, 114, 0.836);
    color: white;
    font-size: 25px;
    font-family: 'Gotham Rounded', 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

.hide {
    display: none;
}

header {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: -15px;
}

header h3 {
    display: flex;
    justify-content: space-between;
}

.hdr-can-you-code {
    font-size: 30px;
    text-align: center;
    margin-top: -40px;

}

#scoreLink {
    color: white;
    font-size: 25px;
}

#can-you-code {
    text-align: center;
    font-size: 60px;
    color: white;

}

#start-btn {
    margin: auto;
    display: flex;
    font-size: 60px;
    border: 10px solid black;
    background-color: rgb(158, 16, 16);
    border-radius: 30px;
    color: black;
}

.next-btn {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 40px;
    border: 10px;
    border-color: rgb(124, 5, 5);
    border-radius: 10px;
}

.questions {
    margin: auto;
    display: list-item;
    display: flex;
    justify-content: left;
    color: rgba(2, 2, 114, 0.836);
    font-weight: bold;
    font-size: 40px;
    border: 10px;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    font-weight: 500;
    padding: 5px 5px 5px 5px;

}

.questionHeader {
    text-align: center;
    }

button:hover {
    background-color: rgba(197, 195, 195, 0.87);
    }

a:visited {
    color: white;
}

a:link {
    color: white;
}

.feedbackSentence {
    margin-top: 25px;
    text-align:center;
}

#question-container {
    margin-top: 15px;
}

/* styling for scoreboard below */

#scoreboard {
    text-align: center;
}

.rightOrWrong {
    color: white;
}

#feedback {
    text-align:center;
    font-weight: bold;
    font-size: 25px;
}

.gameOver {
    text-align:center;
    font-weight: bold;
    font-size: 45px;
}
