body {
    background-color: rgba(2, 2, 114, 0.836);
    color: white;
    font-size: 25px;
    font-family: 'Gotham Rounded', 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

.hide {
    display: none;
}

header {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: -15px;
}

header h3 {
    display: flex;
    justify-content: space-between;
}

.hdr-can-you-code {
    font-size: 50px;

}

#scoreLink {
    color: white;
    font-size: 25px;
}

#can-you-code {
    text-align: center;
    font-size: 60px;
    color: white;

}

#start-btn {
    margin: auto;
    display: flex;
    font-size: 60px;
    border: 10px solid black;
    background-color: rgb(158, 16, 16);
    border-radius: 30px;
}

.next-btn {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 40px;
    border: 10px;
    border-color: rgb(124, 5, 5);
    border-radius: 10px;
}

.questions {
    margin: auto;
    display: list-item;
    display: flex;
    justify-content: left;
    color: rgba(2, 2, 114, 0.836);
    font-size: 40px;
    border: 10px;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    font-weight: 500;

}

.questionHeader {
text-align: center;
}

a:visited {
    color: white;
  }